{% extends 'base.html' %}

{% block head %}
<title>{% block title %}Home{% endblock %}</title>
{% endblock %}

{% block body %}
<script>
    function subjectEmptyWarning() {
        subject = document.getElementById('subject')
        if (subject.value == "") {
            alert("Please add a subject to your post");
            return false;
        }else{
            return true;
        }
    }
</script>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    {% if g.current_user == None %}
        <p style="font-size: 28px;"><em>Welcome! Please log in to post</em></p>
    {% else %}
        {% if g.post_exists == True %}
          <div class="alert alert-danger" role="alert" id="alertdiv" style="display: block;">
            Post with that subject already exists. Please try another.
          </div>
        {% endif %}
        <form action="/" method="POST" onsubmit="return subjectEmptyWarning()">
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" required>
            </div>
            <div class="form-group">
                <label for="messagearea">Message</label>
                <textarea class="form-control" name="messagearea" rows="3"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    {% endif %}
    <hr>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-lg-6">
            <p style="font-size: 28px;"><em>Online Forum Posts</em></p>
            {% for post in posts %}
                <div class="card text-center" style="width: 20rem;">
                    <div class="card-body">
                        <h6 class="card-title">{{ post.key.name }}</h6>
                        <p style="font-size: small;"><em>{{ post['datetime'] }} • 
                            <img style="width: 15px;height: 15px;" src="https://storage.cloud.google.com/cc-assignment1-berke.appspot.com/{{ post['userid'] }}.png" alt="{{ post['userid'] }}"> 
                            {{ post['user'] }} 
                        </em></p>
                        <p class="card-text">{{ post['message'] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-3"></div>
    </div>
    
    <div class="col-sm-4"></div>
</div>
{% endblock %}