{% extends 'base.html' %}

{% block head %}
<title>{% block title %}{{ user['user_name'] }} - User Page{% endblock %}</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-2">
        <ul class="list-group">
            <li class="list-group-item"><img src="https://storage.cloud.google.com/cc-assignment1-berke.appspot.com/0.png" style="width: 120px;;height: 120px;"></li>
            <li class="list-group-item "><strong>User ID:</strong> {{ user.key.name }}</li>
            <li class="list-group-item"><strong>Username:</strong> {{ user['user_name'] }}</li>
        </ul>
        {% if pass_change_valid == False %}
          <div class="alert alert-danger" role="alert" style="display: block;">
            The old password is incorrect
          </div>
        {% endif %}
        {% if g.current_user != None and g.current_user.key.name == user.key.name %}
            <form action="/user/{{ user.key.name }}" method="POST">
              <h3>Change Password</h3>
              <div class="form-group">
                <label for="currpass">Current Password:</label>
                <input type="password" class="form-control" name="currpass">
              </div>
              <div class="form-group">
                <label for="pass">New Password:</label>
                <input type="password" class="form-control" name="newpass">
              </div>
              <button type="submit" class="btn btn-primary">Change</button>
            </form>
          {% endif %}
    </div>
    <div class="col-sm-4">
    <h2>Posts by User</h2>
    {% for post in user_posts %}
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h6 class="card-title">{{ post.key.name }}</h6>
        <p><em>{{ post['datetime'] }} • {{ post['user'] }} </em></p>
        <p class="card-text">{{ post['message'] }}</p>
      </div>
    </div>
    {% endfor %}
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}